* {
	/*border: 1px solid gray;*/
}

/* * */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	height: 100%;
	margin: 10px 0 0;
}

input[type="text"] {
	background-color: #EEE;
}

p {
	margin: 2px 0;
}

#app {
	padding: 10px;
}

#log {
	background-color: #EEE;
	font-family: "Courier New", serif;

	flex-basis: 40%;

	word-break: break-all;
	overflow-y: auto;
	padding: 10px;
}
#log::before {
	content: "Log";
	display: block;
	margin-bottom: 5px;
	text-decoration: underline;
}
.log-item {
	
}
.log-indented {
	padding-left: 40px;
}